@model WebApplication1.Models.Class1
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<html>

<body>
    <div class="cal">
        @using (Html.BeginForm("/Index", "Calc", FormMethod.Post))
        {
            <input type="number" name="n1" id="n1" value="@Model.n1" /> <br />
            <input type="number" name="n2" id="n2" value="@Model.n2" /><br />
         
            <button type="submit" id="1" value="1" name="calcular">+</button>
            <button type="submit" id="2" value="2" name="calcular">-</button>
            <button type="submit" id="3" value="3" name="calcular">*</button>
            <button type="submit" id="4" value="4" name="calcular">/</button>
            <input type="number" name="total" id="total" value="@Model.total" />
        }
    </div>


</body>
</html>